In [ ]:
Q1. How do you comment code in Python? What are the different types of comments?

Comments starts with a #

In [1]:
#This is a comment
print("Hello, World!")

Hello, World!

In [2]:
"""
This is a multi-line comment
using triple quotes
"""
print('Hello, World!')

Hello, World!

In [ ]:
Q2. What are variables in Python? How do you declare and assign values to variables?

In [3]:
#Variables are containers for storing data values.
x = 5
y = "John"
print(x)
print(y)

5
John

In [ ]:
Q3. How do you convert one data type to another in Python?

In [14]:
 #To convert between types, you simply use the type name as a function.
x = 5 ## integer
y = str(x)## to convert in string
a = float(x)## to convert in float

In [19]:
type(y),type(a)

(str, float)

In [ ]:
Q4. How do you write and execute a Python script from the command line?
#To run Python in the terminal, store it in a ‘.py’ file in the command line, we have to write the ‘python’ keyword before the file name in the command prompt. 
#In this way we can run Python programs in cmd.#

In [ ]:
Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [27]:
my_list = [1, 2, 3, 4, 5]
print(my_list[1:3])

[2, 3]

In [ ]:
Q6. What is a complex number in mathematics, and how is it represented in Python?

In [34]:
a = 'a+3b'## complex number

In [37]:
a

'a+3b'

In [ ]:
Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [38]:
Age = int(25)

In [40]:
Age

25

In [ ]:
Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [41]:
price = 9.99 ## float type

In [42]:
type(price)

float

In [ ]:
Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [44]:
name = "Jainish Bipinchandra Sevak"
print(name),type(name)

Jainish Bipinchandra Sevak

(None, str)

In [ ]:
Q10. Given the string "Hello, World!", extract the substring "World".

In [55]:
a = "Hello, World!"
b = a[6:]

In [56]:
b

' World!'

In [ ]:
Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [62]:
is_student = 20
if is_student<=22:
    print("This is student")
else:
    print("This is not student")

This is student