In [ ]:
Q1. Create one variable containing following type of data:
(i) a = 'jenish' ## string
(ii) a = ['jenish','sevak']##list
(iii) a = 1.5 ## float
(iv) a = ('jenish',1,1.5) ##tuple

In [6]:
Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘ ## string
(ii) var2 = ‘[ DS , ML , Python]’ ## invalid character
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]## list
(iv) var4 = 1.## int

In [9]:
var2 = ‘[ DS , ML , Python]’

SyntaxError: unterminated string literal (detected at line 1) (1193345069.py, line 1)

In [ ]:
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [22]:
2/3

0.6666666666666666

In [23]:
2*3

6

In [24]:
2//3

0

In [25]:
2**3

8

In [ ]:
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [41]:
a = ['jenish',10,10.5,True,'Pwskill',45,45.5,False,10,10.5]

In [42]:
len(a)

10

In [46]:
for i in a:
    print(i,'and',type(i))

jenish and <class 'str'>
10 and <class 'int'>
10.5 and <class 'float'>
True and <class 'bool'>
Pwskill and <class 'str'>
45 and <class 'int'>
45.5 and <class 'float'>
False and <class 'bool'>
10 and <class 'int'>
10.5 and <class 'float'>

In [ ]:
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [ ]:
Q6. Create a list containing 25 int type data. Using for loop and if-else condition 
print if the element is divisible by 3 or not.

In [41]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for i in l:
    if i%3==0:
        print(i,"the element is divisible by 3")
    else:
        print(i,"the element is not divisible by 3")

1 the element is not divisible by 3
2 the element is not divisible by 3
3 the element is divisible by 3
4 the element is not divisible by 3
5 the element is not divisible by 3
6 the element is divisible by 3
7 the element is not divisible by 3
8 the element is not divisible by 3
9 the element is divisible by 3
10 the element is not divisible by 3
11 the element is not divisible by 3
12 the element is divisible by 3
13 the element is not divisible by 3
14 the element is not divisible by 3
15 the element is divisible by 3
16 the element is not divisible by 3
17 the element is not divisible by 3
18 the element is divisible by 3
19 the element is not divisible by 3
20 the element is not divisible by 3
21 the element is divisible by 3
22 the element is not divisible by 3
23 the element is not divisible by 3
24 the element is divisible by 3
25 the element is not divisible by 3

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [46]:
##Mutable object can be changed after it is craeted like a list,dict & set
##immutable object can’t be changed after it is created  like a int, float, bool, string, Unicode, and tuple

my_list = [1, 2, 3]## mutable object
my_list.append(4)
print(my_list)

[1, 2, 3, 4]

In [47]:
my_list = (1, 2, 3)## immutable object
my_list.append(4)
print(my_list)

AttributeError: 'tuple' object has no attribute 'append'